<div class="container bg-dark">
  <div class="row ">
      <% @artists.each do |artista| %>
        <div class="card col-4" style="width: 15rem;">
          <img class="card-img-top" src="<%=artista.image_url%>"   alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold"><%= artista.name%></h5>
            <div class="btn btn-primary  col-sm 4 text-center"><%= link_to 'Ver mas', artista %> </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
