<%=@album.each do |album|%>
  <div = "container">
      <div class="row">
        <div class="col-ms-4">
        <div class="card " style="width: 18rem;">
          <img class="card-img-fluid" src="<%=album.image_url%>"   alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center font-weight-bold"><%= album.name%></h5>
            <p class="card-text"><%= album.released_at %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
